<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>6502</string>
	<key>ordering</key>
	<array>
		<string>814d43b7d-48dc-4f6e-a803-b21023909c63</string>
		<string>4ade2039-95df-4777-abde-d2571c1b4f9c</string>
	</array>
	<key>uuid</key>
	<string>eb9216a7-2ce7-4152-906a-5c4f3c602a4c</string>
</dict>
</plist>
